.mobile {
  margin-top: 100px;

  &_wrapper {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  // &_column {

  // }

  &_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  &_descr {
    line-height: 150%;
  }

  &_apps {
    display: flex;
    gap: 20px;
  }
}